<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Resume</title>
  <style>
    /* Base styling */
    body {
      font-family: {{.FontFamily}};
      font-size: {{.FontSize}};
      margin: {{.MarginSize}};
      line-height: 1.5;
    }
    
    /* Custom styles from configuration */
    {{.Styles}}
    
    /* Print settings */
    @page {
      margin: 0;
    }
    @media print {
      body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }
    }
  </style>
</head>
<body>
  {{.Content}}
</body>
</html>
